html(lang ="en")
	head
		title= Parser
		meta(charset='UTF-8')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		script(type='text/x-mathjax-config').
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
		script(src="/javascripts/main.js", type='text/javascript')
		script(src="/javascripts/pl0.js", type='text/javascript')

	body
		div.landing-bar.container-fluid
			h1(style='color:white; text-align:center') PL0-PEGJS
		div
			textarea#original(autofocus='', cols='72', rows='5', align='center')
		br
		#mocha 
		.hiddenTestElements
			textarea#original(autofocus='', cols='80', rows='5') 
			button#PARSE.mylink(type='button', value='parse') Parse
			br 
			pre#OUTPUT
		script(src='/tests/chai.js')
		script(src='/tests/mocha.js')
		script(src='/tests/sinon-1.13.0.js')
		script(src='/tests/blanket.js', data-cover-adapter='/tests/mocha-blanket.js')
		script.mocha.setup('tdd')
		script(src='js/pl0.js', data-cover='')
		script(src='js/main.js', data-cover='')
		script(src='./views/tests.js')
		script.
			mocha.run();

		footer(id="footer")
			div.navbar.navbar-default.navbar-fixed-bottom.footer-bar.text-center(style="color:white")
				div.row
					div.col-lg-12
						h4a(href="/views/tests.html" style="color:white") Tests